.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #FAFAFA;
}
.yourService{
    width:1222px;
    height: 678px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serviceContent{
    width: 496px;
    height: 534px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.roadAssistance{
    display: flex;
    align-items: center;
}
.roadAssistance h5{
    font-size: 20px;
    font-weight: 400;
    color: #9C9C9C;
    margin-left: 10px;
    margin-bottom: 0px;
}

.serviceHeader h3{
    margin-top: 8px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;
}
.serviceContent .serviceDetails p{
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 0px;
}   

.serviceIconsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

/* -------------Towing-------------- */
.towing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    cursor: pointer;
}
.towing:hover img{
    filter: invert(71%) sepia(7%) saturate(2885%) hue-rotate(117deg) brightness(85%) contrast(96%);
}
.towing:hover p{
    color: #44B49C;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.towing p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}
/* -----------------Police Service--------------- */
.policeService{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}
.policeService:hover img{
    filter: invert(6%) sepia(66%) saturate(7423%) hue-rotate(243deg) brightness(103%) contrast(125%);
}
.policeService:hover p{
    color: #000080;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.policeService p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}


/* -----------------Mechanical Service--------------- */
.mechanicalService{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}
.mechanicalService:hover img{
    filter: invert(55%) sepia(44%) saturate(6551%) hue-rotate(169deg) brightness(97%) contrast(101%);
}
.mechanicalService:hover p{
    color: #009EE1;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.mechanicalService p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}

/* -----------------Medical Care--------------- */
.medicalCare{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
}
.medicalCare:hover img{
    filter: invert(26%) sepia(78%) saturate(1578%) hue-rotate(327deg) brightness(99%) contrast(103%);
}
.medicalCare:hover p{
    color: #DC3444;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.medicalCare p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}
.truckImg-mb{
    display: none;
}

@media only screen and (max-width: 600px) {
    .yourService{
        justify-content: center;
        width: 100%;
        height: 952px;
    }
    .serviceContent{
        align-items: center;
        width: 90%;
    }
    .serviceHeader{
        text-align: center;
    }
    .roadAssistance h5{
        font-size: 16px;
        
    }
    .truckImg-mb{
        display: flex;
    }
    .serviceHeader h3{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .serviceIconsContainer{
       width: 100%;
        justify-content: space-between;
    }
    .towing{
        width: 48% !important;
       
    }
    .policeService{
        width: 48% !important;
       ;
        margin-left: 0px;
    }
    .mechanicalService{
        width: 48% !important;
       
        margin-left: 0px;
        margin-top: 8px;
    }
    .medicalCare{
        width:48% !important;
       
    }
    .serviceImg{
        display: none;
    }
}