.getLocation{
    width: 100%;
    height: 678px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getLocationContainer{
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locationContent{
    width: 496px;
    height: 534px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.liveTracking{
    display: flex;
    align-items: center;
}
.liveTracking h5{
    font-size: 20px;
    font-weight: 400;
    color: #9C9C9C;
    margin-left: 10px;
    margin-bottom: 0px;
}

.locationHeader h3{
    margin-top: 8px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;
}

.locationContent .locationDetails p{
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 0px;
}

.serviceIconsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

/* -------------Trip Status-------------- */
.tripStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 318px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    cursor: pointer;
}
.tripStatus:hover img{
    filter: invert(25%) sepia(25%) saturate(5171%) hue-rotate(228deg) brightness(92%) contrast(88%);
}
.tripStatus:hover p{
    color: #4444B3;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.tripStatus p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}


/* -------------Current Location-------------- */
.currentLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}
.currentLocation:hover img{
    filter: invert(26%) sepia(78%) saturate(1578%) hue-rotate(327deg) brightness(99%) contrast(103%);
}
.currentLocation:hover p{
    color: #DC3444;
}
.serviceicon{
    display: flex;
    align-items: center;
}
.currentLocation p{
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
    .getLocationContainer{
        width: 90%;
        height: 890px;
        justify-content: center;
    }
    .getLocationImg{
        display: none;
    }
    .liveTracking h5{
        font-size: 16px;
      
    }
    .locationContent{
        align-items: center;
    }
    .locationHeader{
        text-align: center;
    }
    .locationHeader h3{
       font-size: 24px;
    }
    .tripStatus{
        width: 100%;
    }
    .currentLocation{
        width: 100%;
        margin-top: 8px;
        margin-left: 0px;
    }
}