.heroBanner{
    width: 100%;
    height: calc(100vh - 96px);
    position: relative;
}
.heroBanner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 96px);
    background: linear-gradient(180deg, #272727 0%, rgba(0, 0, 128, 0.3) 43.65%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    transform: rotate(-180deg);
    z-index: 0;
}
.heroImg{
    width: 100%;
    height:100%;
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------Content-------------- */
.heroContent{
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.heroContent h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
}
.heroContent p{
    color: white;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}
.heroContentButtons{
    margin-top: 20px;
}
.heroContentButtons button{
    width: 179px;
    height: 43px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.heroContentButtons .start-btn{
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.heroContentButtons .demo-btn{
    margin-left: 24px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    font-size: 14px;
}
.heroImgMobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    .heroBanner{
        height: 296px;
    }
    .heroImg{
        display: none;
    }
    .heroImgMobile{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .heroImgMobile img{
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .heroBanner::after{
        height: 296px;
    }
    .heroContent h1{
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 0px 24px;
    }
    .heroContentButtons button{
        width: 156px;
        height: 43px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
    }
}