.navbarDiv{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}
.navbarContainer{
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadAndGetStarted{
    display: flex;
    align-items: center;
}
.downloadAndGetStarted p{
    font-size: 14px;
    font-weight: 400;
    margin-right: 48px;
    margin-bottom: 0;
}
.downloadAndGetStarted button{
    width: 125px;
    height: 43px;
    border-radius: 30px;
    background-color: #000080;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.vahanLogoMobile{
    display: none;
}
.menuBtn{
    display: none;
}

@media only screen and (max-width: 600px) {
   .navbarDiv{
    width: 100%;
    height: 48px;
   }
   .menuBtn{
    display: flex;
}

   .navbarContainer{
    width: 90%;
   }
   .downloadAndGetStarted{
    display: none;
   }
   .vahanLogo{
    display: none;
   }
   .vahanLogoMobile{
    display: flex;
   }
}