.navbarDiv{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}
.navbarContainer{
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadAndGetStarted{
    display: flex;
    align-items: center;
}
.downloadAndGetStarted p{
    font-size: 14px;
    font-weight: 400;
    margin-right: 48px;
    margin-bottom: 0;
}
.downloadAndGetStarted button{
    width: 125px;
    height: 43px;
    border-radius: 30px;
    background-color: #000080;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.vahanLogoMobile{
    display: none;
}
.menuBtn{
    display: none;
}
.closeMenu{
    display: none;
}

@media only screen and (max-width: 600px) {
   .navbarDiv{
    width: 100%;
    height: 48px;
   }
   .menuBtn{
    display: flex;
}
.closeMenu{
    display: flex;
}
   .navbarContainer{
    width: 90%;
   }
   .downloadAndGetStarted{
    display: none;
   }
   .vahanLogo{
    display: none;
   }
   .vahanLogoMobile{
    display: flex;
   }
   .downloadAndGetStarted p{
    font-size: 14px;
    font-weight: 400;
    margin-right: 0px;
    margin-bottom: 0;
    margin-top: 60px;
}
.downloadAndGetStarted button{
    margin-top: 30px;
}
   .downloadAndGetStarted.expanded {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
   .downloadAndGetStarted{
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 30vh;
    background-color: white;
   }
   .downloadAndGetStarted .closeMenu{
    position: absolute;
    top: 20px;
    right: 20px;
   }
}