.vahanDetails{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.vahanDetailsContainer{
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.vahanDetailsContainer h4{
    font-size: 24px;
    font-weight: 700;
    color: #272727;
}

.vahanDetailsContainer p{
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    .vahanDetails{
        width: 100%;
        height: auto;
        margin-bottom: 65px;
      
    }
    .vahanDetailsContainer{
        margin-top: 33px;
        width: 90%;
        flex-direction: column;
    }
    .vahanDetailsContainer h4{
        margin-top: 32px;
    }
    .vahanDetailsContainer p{
        margin-bottom: 0px;
    }
}