.footer{
    width: 100%;
    height: 280px;
    background-color: #FAFAFA;
    border-top: 1px solid #C9C9C9;
    display: flex;
    justify-content: center;
  
}
.footerContainer{
    width: 1222px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    width: 20%;
}
.footerLinkContainer{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.aboutHeader h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}
.aboutHeader p{
    font-size: 14px;
    font-weight: 400;
    color: #272727;
    margin-top: 20px;
    margin-bottom: 0px;
}
.socialMediaContainer h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}
.socialMediaContainer p{
    font-size: 14px;
    font-weight: 400;
    color: #272727;
    margin-top: 20px;
    margin-bottom: 0px;
}
.footerIconContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.footerIconContainer p{
    margin-top: 0;
    margin-left: 8px;
    margin-bottom: 0px;
}


.subscribeContainer{
    display: flex;
    flex-direction: column;
}

.subscribeContainer h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}
.subscribeContainer input{
    width: 263px;
    height: 43px;
    border-radius: 4px;
    padding: 0px 15px 0px 10px;
    border: 1px solid #C9C9C9;
    background-color: transparent;
    margin: 24px 0px;
}
.subscribeContainer button{
    width: 117px;
    height: 43px;
    border: 1px solid #272727;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    background-color: transparent;
}
.footerLogo-mb{
    display: none;
}

@media only screen and (max-width: 600px) {
    .footerLogo{
        display: none;
    }
    .footerLogo-mb{
        display: flex;
    }
    .footer{
        height: 455px;
    }
    .footerContainer{
        width: 90%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
    .footerLinkContainer{
        flex-wrap: wrap;
        width: 100%;
        margin-top: 24px;
    }
    .aboutContainer{
        width: 50%;
    }
    .aboutHeader h5{
        font-size: 16px;
    }
    .aboutHeader p{
        font-size: 12px;
    }
    .socialMediaContainer{
        margin-top: 32px;
    }
    .subscribeContainer{
        width: 50%;
        margin-top: 32px;
    }
    .subscribeContainer h5{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0px;
        width: 100%;
    }
    .subscribeContainer input{
        width: 100%;
        font-size: 12px;
    }
    .subscribeContainer button{
        font-size: 12px;
    }
}